@model academic_weapon.Models.Subject

<p>ID: @Model.Id</p>
<p>Subject: @Model.Name</p>
<p>Credits: @Model.Credits</p>
<p>Semester: @Model.Semester</p>
<p>Completed: @Model.IsCompleted</p>
<p>Has Labs: @Model.HasLab</p>
<p>Confidence Level: @Model.ConfidenceLevel</p>
<p>Final Grade: @Model.FinalGrade</p>