@model List<academic_weapon.Models.Subject>

<a asp-action="Create">Add Subject</a>
@foreach (var subject in Model)
{
    <p>ID: @subject.Id</p>
    <p>Subject: @subject.Name</p>
    <p>Credits: @subject.Credits</p>
    <p>Semester: @subject.Semester</p>
    <p>Completed: @subject.IsCompleted</p>
    <p>Has Labs: @subject.HasLab</p>
    <p>Confidence Level: @subject.ConfidenceLevel</p>
    <p>Final Grade: @subject.FinalGrade</p>

    <a asp-action="Details" asp-route-id="@subject.Id">View details</a> 
    <a asp-action="Edit" asp-route-id="@subject.Id">Edit</a> 
    <a asp-action="Delete" asp-route-id="@subject.Id">Delete</a>
    <hr />
}